/* Handling navbar link showing underline on hover */
.navText {
  letter-spacing: 2px;
}

.navText:after,
.footLink:after,
.bookingsNavItem:after {
  display: block;
  content: '';

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.navText:after {
  border-bottom: solid 2px white;
}

.footLink:after {
  border-bottom: solid 1px white;
}

.bookingsNavItem:after {
  border-bottom: solid 2px #ff5f00;
}

.navText:hover:after,
.footLink:hover:after,
.bookingsNavItem:hover:after {
  transform: scaleX(1);
}
